.container {
    text-align: center;
    font-family: 'Anek Bangla' ;
}

.header {
    margin: 20px 0;
    color: #B89029; 
    font-family: 'Anek Bangla' ;
}

.image-section {
    margin: 20px 0;
    /* margin-top: 30x; */
    display: flex;
    justify-content: center;
}

.image-parts {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.image-part {
    margin: 0 10px;
}

.image {
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.loading-message {
    color: #8b4513;
}

.upload-section {
    margin: 20px 0;
}

.file-input {
    margin-bottom: 20px;
}

.buttons-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.upload-photo-button,
.download-button {
    background-color: #228b22;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.upload-photo-button:disabled,
.download-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.heritage-section {
    margin-top: 50px;
    width: 900px;
    color: #B89029;
    text-align: center;
    align-items: center;
    margin-left: 250px;
    font-family: 'Anek Bangla';
}

.heritage-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heritage-image {
    max-width: 300px;
    margin-right: 30px;
    margin-top: 30px;
}

.heritage-description {
    max-width: 400px;
    text-align: left;
    color: 686868;
}
