
.log-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 20px;
    background-image: url('../../assets/48.jpg'); /* Adjust path as needed */
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Creates a light overlay for text readability */
.log-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(232, 231, 231, 0.05); 
    z-index: 0;
}


.log-form {
    background: rgba(255, 255, 255, 0.85); /* Semi-transparent white */
    padding: 20px 40px;
    border-radius: 12px;
    border: none;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1; /* Above the overlay */
    text-align: center;
}

.log-input-group {
    margin-bottom: 15px;
}

.log-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: transparent; /* Transparent background */
}

.log-button {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #007BFF; /* Primary color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.log-button:hover {
    background-color: #0056b3;
}

/* Additional styles for error messages and links */
.log-error-text, .log-success-text {
    color: #d9534f; /* Red for errors */
    text-align: center;
    font-size: 0.875rem;
}

.log-success-text {
    color: #5cb85c; /* Green for success messages */
}

.log-link-text {
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

.log-link-text:hover {
    text-decoration: underline;
}
